<div class="row" style="margin-top:120px">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="RegistrationForm" (ngSubmit)="OnSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name :</label>
            <input type="text" class="form-control" formControlName="userName">
          </div>

          <div class="form-group col-12">
            <label for="emailID" class="form-label">Email :</label>
            <input type="text" class="form-control" formControlName="emailID">
          </div>

          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password :</label>
            <input type="password" class="form-control"  formControlName="Password">
          </div>

          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password :</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
          </div>

          <div class="form-group col-12">
            <label for="mobile" class="form-label">Mobile :</label>
            <input type="text" class="form-control" formControlName="Mobile">
          </div>

          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary " style="margin:10px">Save</button>
            <button type="reset" class="btn btn-secondary ml-2">Cancel</button>
          </div>
        </form>

        
      </div>
    </div>
  </div>
</div>
