<nav class="navbar navbar-expand-lg navbar-dark bg-gradient fixed-top" style="background-color:rebeccapurple">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/Images/SiteLogo.jpg" alt="Avatar Logo" style="width:40px;" class="rounded-pill">&nbsp;
      <span>Real Estate</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/"
            aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            routerLink="/buyproperty">Buy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            routerLink="/rentproperty">Rent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">List
            Property</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
            routerLink="/addproperty">Add Property</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>

      <div>
        <ul class="navbar-nav">
          <li class="nav-item" *ngIf="!loggedin()">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
              routerLink="/user/register">Register</a>
          </li>
          <li class="nav-item" *ngIf="!loggedin()">
            <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
              routerLink="/user/login">Login</a>

          </li>


          <li class="nav-item" *ngIf="loggedin()">
            <a class="nav-link" (click)="onLogout()">Logout</a>

          </li>

  <!-- <div *ngIf="loggedin()" class="dropdown mr-5" dropdown>
    <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
      Welcome {{Loggedinuser}}
    </a>
    <div class="dropdown-menu" *dropdownMenu>
      <a href="#" class="dropdown-item">
        <i class="fas fa-tachometer-alt"></i> View Dashboard</a>
      <a href="#" class="dropdown-item">
        <i class="far fa-user-circle"></i> My Profile</a>
      <a href="#" class="dropdown-item">
        <i class="fas fa-key"></i> Change Password</a>
      <a (click)='onLogout()' class="dropdown-item">
        <i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
  </div> -->



        </ul>
      </div>






    </div>
  </div>
</nav>
