<ul class="nav navbar-light bg-dark">
  <li class="nav-item">
    <b>

      <a class="nav-link active" aria-current="page" href="#">Housing</a>
    </b>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Buy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Rent</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">List Property</a>
  </li>
<li class="nav-item">
  <a class="nav-link" href="#">Register</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Login</a>
</li>

</ul>
