

.card-img-wrapper{
  overflow: hidden;
  position: relative;
}



.card:hover img{

  transform:scale(1.1,1.1);
  transition-duration:75ms;
  transition-timing-function: ease-out;
  height: 250px;
}

.card img {

  transform: scale(1, 1);
  transition-duration: 75ms;
  transition-timing-function: ease-out;
  height: 250px;
}

.member-icon{
position: absolute;
bottom:0;
left:0;
right:0;
margin-left: auto;
margin-right: auto;
}

 /* .card-img-wrapper:hover .member-icon{
  bottom:30%;
  opacity:1;
}

.animate{
  transition:all 0.3s ease-in-out;
} */
